//========== Fonts START ============
$default-font-family: 'Lato', sans-serif;
$default-font-size: 12px;
//========== Fonts END ============

//========== Colors START ==========
$primary-color: #3498db;
$default-font-color: #8ea1b4;
$default-font-color-message: #fefefe;
$default-font-color-title: #16315c;
$body-bgc: #f5f6f8;
//========== Colors END ===========

//========== Page layout START ===========
$page-layout: 891px;
//========== Page layout END ===========
